$primary:#051367;
$secondary:#2D31FA;

$default:#fff;
$body-bg:#F2F4F5;
$body-txt:#000;
$border:#DBE6EB;

$dark:#4A4A4A;
$light-dark:#374957;
$light-grey:#565D6A;
$light-blue:#5F7D95;

$primary-btnf:#132641;
$default-btnf:#7F8C9F;





$font: 16px;
$form-control-het: 42px;
$form-control-border:#dbe2ec;
$form-label-color: #203757; 

$light-grey-n:#ECEFF1;