<header>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="logo-menu d-flex align-items-center ">
                    <a href="javascript:;" class="logo">
                        <img src="../../../assets/img/logo-amp.svg" alt="logo" height="40">
                    </a>
                 
                    <div class="menu">
                        <nav class="navbar navbar-expand-sm p-0">
                            <a class="navbar-brand d-none" href="javascript:;">
                                Menu
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbar-list-2" aria-controls="navbarNav" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbar-list-2">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="javascript:;"> Dashboard </a>
                                    </li>
                                    <li class="nav-item " >
                                        <a class="nav-link" href="javascript:;"> Builder
                                        </a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" href="javascript:;"> Responds</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript:;"> Integrations</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript:;"> Settings</a>
                                    </li>

                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="user-info  d-flex align-items-center">
                        <div class="notification ml-4">
                            <a href="javascript:;" class="bell"><i class="ti ti-bell"></i><span>14</span> </a>
                            <a href="javascript:;"><i class="ti ti-settings"></i> </a>
                        </div>
                        <div class="dropdown username-log">
                            <a href="javascript:;" class=" dropdown-toggle" data-toggle="dropdown">
                                <div class="username">
                                    <!-- <img [src]="currentUser.profile_image" alt="" class="img-fluid"> -->
                                    <img src="../../../assets/img/user.svg" class="img-fluid">
                                </div>
                                <div class="user-d">
                                    <span class="d-block">John</span>
                                    <!-- <span class="d-block user-pos">Admin</span> -->
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="javascript:;" ><i
                                        class="fe fe-log-out mr-2"></i> Log Out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</header>


<!-- <app-search-bar (searchFormData)="getSearchForm($event)"></app-search-bar> -->

